<div class="smoothiemain">
    <div class="topnav">
        <h2 class="logo">WM</h2>
        <h2>Warehouse Manager</h2>
    </div>

    <div class="body">
        <div class="classbutton">
            <p class="text1"><i class="fas fa-box-open"></i> Life Smoothis House</p>
            <button class="icon-btn" type="button">
                <i class="fas fa-add"></i>
                <span class="btn-text">List Item</span>
            </button>
        </div>



        <div class="overviewbox">
            <div class="overviewbox-item box-blue">
                <p class="view1">Total Stock Items</p>
                <p class="view2">2,378</p>
                <p class="view3">12% from last month</p>
                <div class="view-icon icon-blue"><i class="fas fa-box"></i></div>
            </div>
            <div class="overviewbox-item box-green">
                <p class="view1">Total Stock Items</p>
                <p class="view2">2,378</p>
                <p class="view3">12% from last month</p>
                <div class="view-icon icon-green"><i class="fas fa-box"></i></div>
            </div>
            <div class="overviewbox-item box-yellow">
                <p class="view1">Total Stock Items</p>
                <p class="view2">2,378</p>
                <p class="view3">12% from last month</p>
                <div class="view-icon icon-yellow"><i class="fas fa-box"></i></div>
            </div>
            <div class="overviewbox-item box-blue">
                <p class="view1">Total Stock Items</p>
                <p class="view2">2,378</p>
                <p class="view3">12% from last month</p>
                <div class="view-icon icon-blue"><i class="fas fa-box"></i></div>
            </div>
        </div>




        <div class="tablecontainer">
            <p-table #dt [value]="lifeSmoothieList" [columns]="selectedColumns" [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="globalFilterFields" [paginator]="true" [rows]="5" responsiveLayout="scroll"
                [rowsPerPageOptions]="[5,10,20]" [scrollable]="true" [resizableColumns]="true" columnResizeMode="expand"
                [exportHeader]="'customExportHeader'" selectionMode="multiple"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                [tableStyle]="{'min-width': '50rem'}" responsiveLayout="stack" [breakpoint]="'960px'" stripedRows="tr"
                rowHover="true" showCurrentPageReport="true">

                <ng-template #caption>
                    <div class="caption">
                        <div class="captionrow">
                            <div class="captionrowinrow">
                                <div id="search">
                                    <input type="search" placeholder="Search"
                                        (input)="onSearch($any($event).target.value, dt)" />
                                </div>

                                <!-- <p-button icon="pi pi-external-link" label="Export" (click)="dt.exportCSV()" /> -->
                                <button class="export" label="Export" (click)="dt.exportCSV()"> <i
                                        class="fas fa-external-link"></i> Export</button>
                            </div>

                            <div class="date-range-selector">
                                <p-selectButton [options]="periodOptions" [(ngModel)]="selectedPeriod"
                                    (onChange)="setView(selectedPeriod)">
                                </p-selectButton>
                            </div>
                        </div>

                        <div class="captionrow">
                            <div class="filter">
                                <p-multiselect display="chip" [options]="cols" [(ngModel)]="selectedColumns"
                                    optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    [style]="{ 'min-width': '200px' }" placeholder="Choose Columns" [filter]="true"
                                    [showToggleAll]="true" [maxSelectedLabels]="9" />
                            </div>


                            <div class="date-picker" *ngIf="selectedPeriod === 'date'">
                                <p-datepicker class="custom-date-input" [(ngModel)]="rangeDates" selectionMode="range"
                                    [showIcon]="true" (onSelect)="setView('date')"
                                    [ngClass]="{ 'custom-date-input': selectedPeriod === 'date' }">
                                </p-datepicker>
                            </div>

                            <!-- Weekly -->
                            <div class="date-picker" *ngIf="selectedPeriod === 'week'">
                                <!-- <label>Select Week:</label> -->
                                <p-datepicker class="custom-date-input" [(ngModel)]="selectedDate" [showIcon]="true"
                                    (onSelect)="setView('week')"></p-datepicker>
                            </div>

                            <!-- Monthly -->
                            <div class="date-picker" *ngIf="selectedPeriod === 'month'">
                                <!-- <label>Select Month:</label> -->
                                <p-datepicker class="custom-date-input" [(ngModel)]="selectedDate" view="month"
                                    dateFormat="MM yy" [showIcon]="true" (onSelect)="setView('month')">
                                </p-datepicker>
                            </div>

                            <!-- Yearly -->
                            <div class="date-picker" *ngIf="selectedPeriod === 'year'">
                                <!-- <label>Select Year:</label> -->
                                <p-datepicker class="custom-date-input" [(ngModel)]="selectedDate" view="year"
                                    dateFormat="yy" [showIcon]="true" (onSelect)="setView('year')">
                                </p-datepicker>
                            </div>
                        </div>
                    </div>
                </ng-template>


                <ng-template #header let-columns>
                    <tr>
                        <th class="centered-cell">ID <p-sortIcon></p-sortIcon></th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="centered-cell">
                            {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-columns="columns" let-i="rowIndex">
                    <tr [ngClass]="{ 'highlight-row': rowMatchesSearch(row, columns) }">
                        <td class="centered-cell">{{ i + 1 }}</td>
                        <td *ngFor="let col of columns" class="centered-cell">
                            <ng-container [ngSwitch]="col.type">
                                <span *ngSwitchCase="'shortDate'">{{ row[col.field] | date:'short' }}</span>
                                <span *ngSwitchCase="'date'">{{ row[col.field] | date }}</span>
                                <span *ngSwitchDefault [innerHTML]="highlightSearchText(row[col.field])">
                                </span>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <div class="smoothicontainer">
            <div class="left-container">
                <div class="row-item">
                    <div class="title">
                        <p>Smoothies</p>
                        <span>Own your unique flavour</span>
                    </div>
                    <img src="../../assets/Energy-Booster.jpg" alt="Energy Booster" class="row-img">
                </div>

                <div class="tabs">
                    <div class="tab-header">

                        <div [class.active]="activeTab === 'choose'" (click)="activeTab = 'choose'">Choose Smoothie
                        </div>
                        <div [class.active]="activeTab === 'production'" (click)="activeTab = 'production'">Smoothie
                            Production</div>
                    </div>

                    <div class="tab-content">
                        <!-- Tab 1: Smoothie Production -->
                        <div *ngIf="activeTab === 'choose'" class="tab-panel">
                            <div class="title2">
                                <p>Choose a Smoothie</p>
                            </div>
                            <div class="row2">
                                <div class="card-style" *ngFor="let smoothie of smoothies"
                                    (click)="selectSmoothie(smoothie)">
                                    <img src="../../assets/Energy-Booster.jpg" alt="Smoothie" class="card-image">
                                    <div class="card-content">
                                        <h4>{{ smoothie.itemname }}</h4>
                                        <p>{{ smoothie.ingredients.length }} ingredients</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tab 2: Choose Smoothie -->
                        <div *ngIf="activeTab === 'production'" class="tab-panel">
                            <div class="title2">
                                <p>INGREDIENTS</p>
                            </div>
                            <div class="row2">
                                <div class="card-style" *ngFor="let item of ingredients">
                                    <img src="../../assets/Energy-Booster.jpg" alt="Ingredients" class="card-image">
                                    <div class="card-content">
                                        <h4>{{ item.name }}</h4>
                                        <p>{{ item.qty }} g</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Smoothie Name:</label>
                                <input type="text" [(ngModel)]="smoothieName" placeholder="Enter smoothie name" />
                            </div>

                            <div class="form-group">
                                <label>Item:</label>
                                <!-- 
                                <p-autocomplete [(ngModel)]="value" [suggestions]="items"
                                    (completeMethod)="search($event)" /> -->
                                <p-autoComplete [(ngModel)]="newItem.name" [suggestions]="filteredItemNames"
                                    (completeMethod)="filterItemNames($event)"
                                    placeholder="Enter or select item"></p-autoComplete>



                            </div>
                            <div class="form-group">
                                <label>Quantity (g):</label>
                                <input type="number" [(ngModel)]="newItem.qty" />
                            </div>

                            <div class="button-row">
                                <button class="icon-btn" (click)="addIngredient()">Add Ingredient</button>
                                <button class="icon-btn" (click)="resetForm()">Reset</button>
                                <button class="icon-btn" (click)="saveSmoothie()">Add Smoothie</button>
                                <p-toast></p-toast>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-container">
                <div *ngIf="selectedSmoothie" class="card-style2">
                    <p class="title2">{{ selectedSmoothie.itemname }}</p>
                    <!-- <p>Ingredients ({{ selectedSmoothie.ingredients.length }})</p> -->

                    <div *ngFor="let detail of ingredientDetails; let i = index" class="ingredient-card">
                        <input type="checkbox" [(ngModel)]="detail.selected" />

                        <h4>{{ detail.item_name }}</h4>
                        <p><strong>Description:</strong> {{ detail.description }}</p>
                        <p><strong>Qty (cotton):</strong> {{ detail.qty_cotton }}</p>
                        <p><strong>Qty (kg):</strong> {{ detail.qty_kg }}</p>
                        <p><strong>Qty (g):</strong> {{ detail.qty_g }}</p>
                        <p><strong>Lot No:</strong> {{ detail.lot_no }}</p>
                        <p><strong>Location:</strong> {{ detail.location }}</p>
                    </div>
                </div>
                <div class="form-group2">
                    <label>Qty(g):</label>
                    <input type="number" [(ngModel)]="commonQty" />
                </div>

                <div class="form-group2">
                    <label>Rack:</label>
                    <input type="text" [(ngModel)]="commonRack" />
                </div>
                <div class="button-row">
                    <button class="icon-btn" (click)="saveSmoothieProduction()">Save</button>
                    <button class="icon-btn" type="button">Cancel</button>
                </div>
            </div>

        </div>

    </div>
</div>